# Custom files and folders
bitonic_sort/bitonic_sort
bubble_sort/bubble_sort
cocktail_shaker_sort/cocktail_shaker_sort
double_selection_sort/double_selection_sort
gcc_std_sort/gcc_std_sort
gcc_std_stable_sort/gcc_std_stable_sort
gnome_sort/gnome_sort
gravity_sort/gravity_sort
heap_sort/heap_sort
insertion_sort/insertion_sort
merge_sort/merge_sort
quick_sort/quick_sort
radix_sort/radix_sort
selection_sort/selection_sort
shell_sort/shell_sort
test_data/test_data
test_data/generated/



### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

# End of https://www.gitignore.io/api/c,c++
